body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #4e4e4e36;
}

label {
    display: block;
}

p {
    font-size: 20px;
    text-align: center;
    color: #8a0707;
    margin-bottom: 5px;
}

form {
    width: 200px;
    border: 3px solid #4e4e4e;
    padding: 15px 15px;
    border-radius: 5px;
}

input {
    width: 100%;
}

input[type="submit"] {
    height: 40px;
    background-color: #a8a8a8;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #00f335;
    color: rgb(0, 0, 0);
}

form {
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
    font-weight: bold;
}

table {
    font-size: 20px;
    text-align: center;
    width: 60%;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    border: 3px solid #4e4e4e;
    border-radius: 5px;
}

table a {
    text-decoration: none;
    color: #790707;
}

.editar,
.excluir {
    display: inline-block;
    margin: 0 5px;
}

.editar a {
    color: green;
    transition: 0.3s;
}

.editar a:hover {
    color: #00f335;
}

.excluir a {
    color: red;
    transition: 0.3s;
}

.excluir a:hover {
    color: #8b0606;
}

.botoes-topo {
    text-align: center;
    margin-right: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-times {
    margin-right: 10px;
    display: inline-block;
    padding: 10px 24px;
    margin: 10px 10px 0 0;
    font-size: 16px;
    font-weight: bold;
    background-color: #4e4e4e;
    color: #fff;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.btn-times:hover {
    background-color: #00f335;
    color: #222;
}

.btn-partida {
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4e4e4e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s, color 0.3s;
}

.btn-partida:hover {
    background-color: #00f335;
    color: #222;
}

.btn-voltar {
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4e4e4e;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn-voltar:hover {
    background-color: #00f335;
    color: #222;
}

.titulo-times {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.btn-nova-partida {
    display: flex;
    align-items: center;
    padding: 10px 24px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4e4e4e;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn-nova-partida:hover {
    background-color: #00f335;
    color: #222;
}

